.swiper-container
    width: 100%
    height: 100%

html, body 
    position: relative
    height: 100%
    
body 
    background: #eee
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
    font-size: 14px
    color:#000
    margin: 0
    padding: 0

.swiper-slide 
    text-align: center

.vertical-mid
    display: -webkit-box
    display: -ms-flexbox
    display: -webkit-flex
    display: inline-flex
    -webkit-box-pack: center
    -ms-flex-pack: center
    -webkit-justify-content: center
    justify-content: center
    -webkit-box-align: center
    -ms-flex-align: center
    -webkit-align-items: center
    align-items: center

.vertical-full
    height: 100%

.pure-u-1-vtop-1-3
    @expend .pure-u-1
    height: 96%
    background-color: red

.pure-u-1-vbuttom-2-3
    @expend .pure-u-1
    height: 96%
    background-color: green

@media screen and (max-width: 768px) 
    .pure-u-1-vtop-1-3
        display: flex !important
        height: 38% !important
    
    .pure-u-1-vbuttom-2-3
        display: flex !important
        height: 58% !important

.inline_content
    display: inline-flex !important



//grid-layout related

.space-1-2
    height: 48vmin

.space-2-5
    height: 36vmin

.space-1-5
    height: 20vmin


.space-1-10
    height: 8vmin

.space-1-20
    height: 5vmin

.little-br
    line-height: 2vmin

.space-1-6
    height: 15vmin

.space-1-8
    height: 12vmin

#big-head
    width: 42vmin
    height: 42vmin

.skill-pics
    height: 18vmin 
    width: 18vmin

//btn css

.btn-lang
    border-radius: 8px
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
    color: white
    background: rgb(55, 60, 56);
    font-size: 70%

//text css

.text-align-left
    text-align: left

.title-text
    width: 80vmin

@media screen and (max-width: 768px)
    .space-1-5
        height: 32vmin

    #big-head
        width: 50vmin
        height: 50vmin

    h1
        font-size: 9vmin

    h2
        font-size: 6vmin

    h3  
        font-size: 4.8vmin

    p 
        font-size: 4vmin

@font-face
    font-family: custom-serif
    src: local("LiSong Pro"), local("新細明體"), local("PMingLiU")
    unicode-range: U+4E00-9FFF

@font-face 
    font-family: 'Amatic SC'
    font-style: normal
    font-weight: 400
    src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(https://fonts.gstatic.com/s/amaticsc/v11/BvkGNM5i0n2wywBsmOxcFhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2')
    unicode-range: U+00-024F

@font-face
    font-family: 'Amatic SC'
    font-style: normal
    font-weight: 400
    src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(https://fonts.gstatic.com/s/amaticsc/v11/DPPfSFKxRTXvae2bKDzp5FtXRa8TVwTICgirnJhmVJw.woff2) format('woff2')
    unicode-range: U+0000-00FF

@font-face 
    font-family: 'VT323'
    font-style: normal
    font-weight: 400
    src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v9/lo_L7yCDHYN9FAxvMCI1vQ.woff2) format('woff2')
    unicode-range: U+0000-00FF



.eng
    font-family: 'VT323'

//color
.title-backgd-color
    background-color: #434343
    color: white

.test
    background-color: black