html
  html(lang="zh-tw")
  head 
    meta(charset="utf-8")
    title Resume Prototype

    meta(name="description" content="Presentation Using Swipe.js")
    meta(name="author" content="Chen Ishi")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    link(rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous")
    link(rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css")

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")

    link(rel="stylesheet" href="css/style.css")  
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script")

    script(src="js/app.js")
  
  body

    script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    
    .swiper-container

      .swiper-wrapper
        .swiper-slide
          .pure-g
            .pure-u-1
              .pure-u-1.space-1-5
              .pure-u-1
                .pure-img
                  img#big-head(src="asset/img/bighead_bw_cir.jpg") 

              .pure-u-1.space-1-10

            .pure-u-1
              .pure-u-1
              .pure-u-1
                h1.eng Chen, YI-XI
                //陳奕熹
                br
                h2.eng System Engineer/Web Front-End
                //系統工程師/網頁前端/自由軟體
                br.little-br
                h2.eng chen.ishi@gmail.com
              .pure-u-1.space-1-10
            
            .pure-u-1
              .pure-u-11-24
                .pure-u-2-3
                .pure-u-1-3
                  // button.pure-button.btn-lang 英文
              .pure-u-1-12
                
              .pure-u-11-24
                .pure-u-1-3
                  // button.pure-button.btn-lang Chinese
                .pure-u-2-3              

        .swiper-slide
          .pure-g
            .pure-u-1
              .space-1-10
              .space-1-8.title-backgd-color.vertical-mid
                h1.eng.title-text Skill Set
                //技能表
              .space-1-8 
            .pure-u-1-12
            .pure-u-20-24
              .pure-u-1.space-1-6
                .pure-u-2-5
                  .pure-img
                    img.skill-pics(src="asset/img/website.png")                
                .pure-u-3-5              
                  .text-align-left
                    h2.eng Web Technique 
                    //網頁技術
                    br.little-br
                    p.eng NCKU Expired Food Project
                    //成大剩食平台專案

              .pure-u-1.space-1-8

              .pure-u-1.space-1-6
                .pure-u-2-5
                  .pure-img
                    img.skill-pics(src="asset/img/design.png")                 
                .pure-u-3-5             
                  .text-align-left
                    h2.eng Graphic Design 
                    //平面設計
                    br.little-br
                    p.eng Wu talk! Tainan Local Magazine

              .pure-u-1.space-1-8

              .pure-u-1.space-1-6
                .pure-u-2-5
                  .pure-img
                    img.skill-pics(src="asset/img/ml.png") 
                .pure-u-3-5              
                  .text-align-left
                    h2.eng Machine Learning
                    br.little-br
                    p.eng Restaurant Recommandation /
                    p.eng Improving Image Quality Using GAN

              .pure-u-1.space-1-8             
                    
              .pure-u-1.space-1-6        
                .pure-u-2-5
                  .pure-img
                    img.skill-pics(src="asset/img/maker.png") 
                .pure-u-3-5             
                  .text-align-left
                    h2.eng Maker Skills
                    br.little-br
                    p.eng Mongolia Computer Science Volunteer /
                    p.eng TNFSH Arduino Teaching Assist

            .pure-u-1-12

        .swiper-slide 
          .pure-g
            .pure-u-1
              .space-1-8
              .space-1-8
                h1 Backstory
                //學習經歷
              .space-1-8
            .pure-u-1.space-1-5
              .pure-u-2-5
              .pure-u-3-5
                h2.text-align-left 私立港明高中普通科
            .pure-u-1.space-1-5
              .pure-u-2-5
              .pure-u-3-5            
                h2.text-align-left 國立成功大學電機系
            .pure-u-1.space-1-5
              .pure-u-2-5
              .pure-u-3-5            
                h2.text-align-left 待續……

      .swiper-pagination

    script(src="js/app.js")


<!--     .swiper-button-prev -->
<!--     .swiper-button-next -->

<!--     .swiper-scrollbar -->
